VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=smart-cloud-372ae.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smart-cloud-372ae
VITE_FIREBASE_STORAGE_BUCKET=smart-cloud-372ae.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=647785296804
VITE_FIREBASE_APP_ID=1:647785296804:web:60f9368affb0f6b299c731
VITE_FIREBASE_MEASUREMENT_ID=G-4Z6W1568LB
